@media screen and (min-width: 769px) {
    /* For desktop: */
    .col {width: 80%;}
    .header{
        height: 128px;
        background-color: rgb(0, 170, 255);
        width: 100%;
        box-sizing: border-box;
        
    }
    .header_dau{
        float: right;
    }
    .header_dau-list{
        list-style: none;
        margin: 4px 4px;
    }
    .header_dau_item{
        display: inline-block;
        margin: 0 8px;
    }
    .header_dau-list-item:hover{
        color: rgba(87, 84, 87, 0.305);
        cursor: pointer;
    }
    .header_dau-list-item{
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
    }
    .header_search{
        width: 1184px;
        height: 92px;
        float: right;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 200px;
        
    }
    .media-header{
        display: flex;
        width: 984px;
    }
    .style_logo{
        width: 150px;
        background-color: rgb(0, 170, 255);
        font-size: 1rem;
        height: 78px;
    }
    .header_search-item{
        background-color: white;
        flex: 1;
        border-radius: 2px;
        height: 40px;
        display: flex;
    }
    
    .header_search-item-input{
        flex: 1;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.5rem;
        color: black;
        padding: 0 16px;
        border-radius: 3px;
    }
    .header_search-item-search{
        background-color: rgb(0, 106, 255);
        border: none;
        height: 36px;
        width: 15%;
        height: 100%;
    }
    .header_search-icon{
        font-size: 1.6rem;
        color: white;
    }
    .header_login{
        width: 162px;
        height: 32px;
        margin-left: 30px;
    }
    .header_login-icon{
        color: white;
        font-size: 2.7rem;
        margin-top: 2px;
    }
    .login,.dangki{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        
    }
    .login:hover,.dangki:hover{
        color: rgba(87, 84, 87, 0.305);
        cursor: pointer;
    }
    #betweend{
        color: white;
        font-size: 1.6rem;
    }
    .header_cart{
        width: 94px;
        height: 32px;
        padding-left: 35px;
        box-sizing: border-box;
        
    }
    .header_cart-wrap{
        position: relative;
        display: inline-block;
        padding: 0 8px;
    }
    .header_cart-icon{
        color: white;
        font-size: 2.7rem;
        margin-top: 2px;
    }
    .nocart{
        position: absolute;
        top: calc(100% + 9px);
        right: -1px;
        background-color: white;
        width: 400px;
        height: 200px;
        border-radius: 2px;
        box-shadow: 0px 1px 3.3125rem 0 rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 2;
    }
    .nocart::after{
        content: "";
        position: absolute;
        right: 3px;
        top: -26px;
        border-width: 16px 20px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
    .header_list-nocart{
        padding: 10px 0;
    }
    .header_nocart{
        width: 400px;
        height: 130px;
    }
    .content_nocart{
        text-align: center;
        font-size: 1.7rem;
        box-sizing: border-box;
        padding-left: 110px;
        margin-top: 5px;
    }
    .header_cart-wrap:hover .nocart{
        display: block;
    }
    /* Phần thân */
    .container{
        width: 100%;
        height: 2060px;
        background-color: rgb(218, 218, 214);
    }
    /* footer */
    .footer{
        width: 100%;
        height: 250px;
        background-color: rgb(218, 218, 214);
        margin: 0;
        padding: 0;
    }
    .footer_viencontent{
        width: 1150px;
        height: 250px;
        background-color: black;
        box-sizing: border-box;
        box-shadow: 5px 5px 5px #ccc;
    }
    .footer_top{
        width: 100%;
        height: 50px;
        background-color: #3b3a3a;
    }
    .icon-footer1{
        font-size: 17px;
        box-sizing: border-box;
        margin: 15px 0 0 20px;
        padding-right: 10px;
        color: rgb(255, 60, 0);
    }
    .icon-footer2{
        font-size: 17px;
        box-sizing: border-box;
        padding-right: 10px;
        color: rgb(255, 213, 0);
    }
    .icon-footer3{
        font-size: 17px;
        box-sizing: border-box;
        padding-right: 10px;
        color: rgb(55, 255, 0);
    }
    .footer_content{
        width: 100%;
        height: 200px;
    }
    .footer-left{
        width: 60%;
        height: 100%;
        box-sizing: border-box;
        float: left;
        margin: 15px 0 0 15px;
    }
    .footer-right{
        width: 30%;
        height: 100%;
        box-sizing: border-box;
        float: right;
        margin: 15px 0 0 15px;
    }
    h2{
        color: #ccc;
    }
    .footer-left-content{
        color: white;
        font-size: 15px;
        margin: 15px 0 15px 0;
    }
    .icon-footer-left{
        color: white;
        font-size: 15px;
        padding-left: 5px;
    }
    .footer-head{
        margin-bottom: 15px;
    }
    .footer-text1{
        color: #ccc;
        font-size: 15px;
        padding: 0 0 0 5px;
        box-sizing: border-box;
    }
    .footer-text2{
        color: #ccc;
        font-size: 15px;
        margin-top: 15px;
        padding-left: 25px;
    }
    .footer-text3{
        margin-bottom: 15px;
    }
    .footer-text3{
        color: #ccc;
        font-size: 15px;
    }
    .menu-media{
        display: none;
    }
.style_logo-media{
    display: none;
}
}
@media screen and (max-width: 768px) {
/* Mobile */
.header_dau, .nocart,.login,.dangki, #betweend, .style_logo{
    display: none;
}
.header_search{
    width: 100%;
    height: 130px;
    background-color: blue;
    display: block;
}
.logo{
    text-align: center;
    width: 100%;
    height: 70px;
}
.media-header{
    display: flex;
}
.menu-media{
    width: 30px;
    height: 30px;
    font-size: 17px;
    padding: 7px 3px 3px 6px;
    box-sizing: border-box;
}

.header_search-item{
    background-color: white;
    flex: 1;
    border-radius: 2px;
    height: 30px;
    display: flex;
}
.header_search-item-input{
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: black;
    padding: 0 16px;
    border-radius: 3px;
}
.header_search-item-search{
    background-color: rgb(0, 106, 255);
    border: none;
    height: 36px;
    width: 15%;
    height: 100%;
}
.header_search-icon{
    font-size: 1.6rem;
    color: white;
}
.header_login{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.header_login-icon{
    color: white;
    font-size: 2.7rem;
    margin-top: 2px;
}
.header_cart{
    width: 7%;
    height: 30px;
    padding-left: 0px;
    box-sizing: border-box;
    
}
.header_cart-wrap{
    display: inline-block;
    padding: 0 8px;
}
.header_cart-icon{
    color: white;
    font-size: 2.7rem;
    margin-top: 2px;
}
/* Footer */
.footer_top{
    display: none;
}
.footer{
    width: 100%;
        height: 250px;
        background-color: black;
}
.footer_content, .footer-right{
    width: 100%;
    height: auto;
    padding-top: 15px;
}
.footer-left, .footer-right{
    font-size: 15px;
    text-align: center;
    color: #ccc;
}
.footer-left-content{
    padding: 10px 0 10px 0;
}
.icon-footer-left{
    padding-left: 5px;
}
.footer-text1{
    padding: 0 0 0 5px;
    box-sizing: border-box;
}
.footer-text2{
   padding-top: 10px;
}
.footer-text3{
    padding-bottom: 10px;
}
.footer-text3{
    color: #ccc;
    font-size: 15px;
}
.container{
    width: 100%;
        height: 2205px;
        background-color: rgb(218, 218, 214);
}
}